<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/User/IdeaProjects/WebAutomationPOM/src/test/java/testcases">
        <classes>
            <class name="testcases.TestLoginPage">
                <methods>
                    <include name="testUserCanLoginWithValidCredentials"/>
                    <exclude name="testUserShouldNotBeAbleToLoginWithInvalidUsername"/>
                    <exclude name="testUserShouldNotBeAbleToLoginWithInvalidPassword"/>
                    <exclude name="testUserShouldNotBeAbleToLoginWithInvalidUsernamePassword"/>
                    <include name="testUserShouldNotBeAbleToLoginWithInvalidCredentials"/>
                </methods>
            </class>
            <class name="testcases.TestMainpage">
                <methods>
                    <include name="testMainPage"/>
                    <include name="testLoginButton"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>